@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body {
    background-color: #af9292;
}

.main {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main-heading {
    font-size: 64px;
    font-family: "Cedarville Cursive", cursive;
    display: flex;
    justify-content: center;
    color: gold;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 760px;
    height: 680px;
    border: 20px solid #b6092b;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.box {
    background-color: white;
    border: .1px solid lightgrey;
    box-sizing: border-box;
}

.colour-change{
    background-color: black;
}

.grid-size {
    font-family: "Cedarville Cursive", cursive;
    font-size: 16px;
    border: 5px solid #b6092b;
    border-radius: 6px;
    background-color: white;
}
