.container {
    width: 960px;
    height:960px;
    display: flex;
    flex-wrap: wrap; /* To wrap items if they exceed one line */
    flex-grow: 0;
}

.box {
    width: calc(960px/99);
    height: calc(960px/99);
    display: flex;
    background-color: lightblue;
    border: .1px solid black;
    box-sizing: border-box;
}

.colour-change{
    background-color: black;
}
